.body{
    background-color: lightgrey;
}
.container1{
margin-top: 9%;
left: 13%;
height: 100%;

}

.Solved{
font-size: 60px;
text-decoration: bold;
color: blue;
margin-top: -40%;
border: solid;
padding-right: 20px;
padding-left: 20px;
border-width: 5px;
border-color: blue;
position: absolute;
left: 0%;
}
.movesStyle{
font-size: 200%;
color: black;
bottom: 100px;

}
.Moves{

color: darkblue;
font-size: 25px;
margin-top: -30%;
left: 20%;
border: solid;
padding-right: 5px;
padding-left: 5px;
border-width: 1px;
border-color: darkblue;
position: absolute;
}
.SolidMoves{

color: darkblue;
font-size: 25px;
text-decoration: bold;
margin-top: -30%;
left: 0%;
position: absolute;

}

.button6{
background-color: lightblue;
margin-top: -15%;
left: 0%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}

.button6:hover {
color: red;
background-color: white;
}
.button5{
background-color: lightblue;
margin-top: -24%;
left: 0%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
padding-right: 77.5px;
padding-left: 77.5px;
padding-top: 14.5px;
padding-bottom:14.5px;
}

.button5:hover {
color: red;
background-color: white;
}
.button4{
background-color: lightblue;
margin-top: -30%;
margin-left: 35%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
padding-right: 22.75px;
padding-left: 22.75px;
}

.button4:hover {
color: red;
background-color: white;
}
.button3{
background-color: lightblue;
margin-top: -20%;
margin-left: 35%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}
.button3:hover {
color: red;
background-color: white;
}
.button2{
background-color: white;
margin-top: 40%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}

.button2:hover {
color: red;
background-color: white;
}
.button1{
background-color: white;
margin-top: 10%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}
.button1:hover {
color: red;
background-color: white;
}
td {
width: 20%;
line-break: normal;
text-align: center;
border-width: 10px;
Border-style: solid;
padding-top:8%;
padding-bottom:8%;
padding-left: 6%;
padding-right: 6%;
}
table {
    background-color : whitesmoke;  
    color:darkblue;
    border-color: darkblue;
    border-style: solid;
    text-align: center;
    margin: 0 auto;
}
#t123{
	background-color: darkblue !important;
}

.newTask{
	background-color: white;
	color: darkblue;
	position: absolute;
	width: 20%;
	height: 75px;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 150%;
}	
.newTask:hover {

	color: darkblue;
	background-color: whitesmoke;

}
.string-item{
   font-size: 150%;
   text-align: center;
   border-style: solid;
   background-color: whitesmoke;
   border-width: 10px;
   margin-top: 0px;
   margin-right: 0px !important;
}

